<div class="form-container">

  <div class="form-title">Añadir nuevo inventario</div>

  <form (ngSubmit)="crearProducto()">

    <!-- Nombre -->
    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>Nombre</mat-label>
      <input matInput [(ngModel)]="producto.nombre" name="nombre" required>
    </mat-form-field>

    <!-- Descripción -->
    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>Descripción</mat-label>
      <input matInput [(ngModel)]="producto.descripcion" name="descripcion">
    </mat-form-field>



    <!-- Precio -->
    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>Precio/uds</mat-label>
      <input matInput type="number" [(ngModel)]="producto.precio" name="precio" required>
    </mat-form-field>

    <!-- Categoría -->
    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>Categoría</mat-label>
      <mat-select [(ngModel)]="producto.categoriaId" name="categoriaId" required>
        <mat-option *ngFor="let cat of categorias" [value]="cat.id">{{ cat.nombre }}</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Proveedor -->
    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>Proveedor</mat-label>
      <mat-select [(ngModel)]="producto.proveedorId" name="proveedorId" required>
        <mat-option *ngFor="let p of proveedores" [value]="p.id">{{ p.nombre }}</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Botones -->
    <div class="button-row">
      <button mat-stroked-button color="primary" type="button" (click)="volver()">Cancelar </button>
      <button mat-flat-button color="primary" type="submit">Guardar</button>
    </div>

  </form>

</div>
