<div class="form-container">

  <div class="form-title">Crear categoría</div>

  <form (ngSubmit)="crear()">

    <!-- Nombre -->
    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>Nombre</mat-label>
      <input matInput type="text" [(ngModel)]="nombre" name="nombre" required>
    </mat-form-field>

    <!-- Botones -->
    <div class="button-row">
      <button mat-stroked-button color="primary" type="button" (click)="volver()">
        Cancelar
      </button>

      <button mat-flat-button color="primary" type="submit">
        Crear
      </button>
    </div>

  </form>

</div>
