<div class="form-container">

  <div class="form-title">Crear proveedor</div>

  <form (ngSubmit)="crear()">

    <!-- Nombre -->
    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>Nombre</mat-label>
      <input matInput [(ngModel)]="proveedor.nombre" name="nombre" required>
    </mat-form-field>

    <!-- Contacto -->
    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>Contacto</mat-label>
      <input matInput [(ngModel)]="proveedor.contacto" name="contacto" required>
    </mat-form-field>

    <!-- Botones -->
    <div class="button-row">
      <button mat-stroked-button color="primary" type="button" (click)="volver()">Cancelar</button>
      <button mat-flat-button color="primary" type="submit">Guardar</button>
    </div>

  </form>

</div>
